ACCESS_TOKEN=""

APP_ID=""
APP_SECRET=""
RECIPIENT_WAID="" # Your WhatsApp number with country code (e.g., +31612345678)
VERSION="v20.0"
PHONE_NUMBER_ID=""

VERIFY_TOKEN="12345"

GEMINI_KEY=""
OPENAI_API_KEY=""
OPENAI_ASSISTANT_ID=""



# Django settings
SECRET_KEY=''
DJANGO_ENV=development
DEBUG=True